<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
  <h2 id="heading" class="text-center " style="font-style:italic;"> Sign-Up</h2>
  <hr>
  <div class="mb-3">
    <label style="margin-right:10px">Gender: </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="male" formControlName="gender">Male
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input  ms-3" value="female" formControlName="gender">Female
    </label>
  </div>

  <!--control labels are linked to feedback in initialise form function -->
  <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known As'"></app-text-input>
  <app-datepicker [formControl]="$any(registerForm.controls['DateOfBirth'])" [label]="'Date of Birth'" [maxDate]="maxDate"></app-datepicker>
  <app-text-input [formControl]="$any(registerForm.controls['City'])" [label]="'City'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['Country'])" [label]="'Country'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"
                  [type]="'password'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'"
                  [type]="'password'"></app-text-input>

  <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let err of validationErrors">
        {{err}}
      </li>
    </ul>
  </div>

  <div class="text-center">
    <button [disabled]="!registerForm.valid" class="btn me-2" type="submit">Register </button>
    <button id="cancel" class="btn me-2" type="button" (click)="cancel() ">Cancel </button>
  </div>
</form>

