<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
  <h2 id="heading" class="text-center " style="font-style:italic;"> Sign-Up</h2>
  <hr>
  <div class="mb-3">
    <label style="margin-right:10px">Gender: </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="male" formControlName="gender">Male
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input  ms-3" value="female" formControlName="gender">Female
    </label>
  </div>
  <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known As'"></app-text-input>
  <app-datepicker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Date of Birth'"></app-datepicker>
  <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"
                  [type]="'password'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['confirmedPassword'])" [label]="'Confirm Password'"
                  [type]="'password'"></app-text-input>
  <div class="text-center">
    <button class="btn me-2" type="submit">Register </button>
    <button id="cancel" class="btn me-2" type="button" (click)="cancel() ">Cancel </button>
  </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>

