#heading{
  font-weight: bold;

}

.btn{
  background: #a4133c;
  outline-color: #a4133c;
  color: white;
  box-shadow: 0px 5px 5px #999;
}

#cancel{
  background: red;
  color: white;
}

.app-text-input{
  color: white;
}
