.form-control{
  background-color: #a74281;
}
.navbar-brand{
  font-weight: bolder;
  color: #ffe6ff;
}
.nav-link {
  color: white;
  font-weight:500;
}

.nav-link:hover{
  text-decoration: underline;
  color:dodgerblue;
}

#welcome{
  color: #44001a;
  font-weight:500;
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}
