.navbar{
  background-color: #ffc2d1;
}
.navbar-brand{
  font-weight: bolder;
  color: #a4133c;
}
.nav-link {
  color: #44001a;
  font-weight:500;
}

.nav-link:hover{
  text-decoration: underline;
  color: #ff1a71;
}

#welcome{
  color: #44001a;
  font-weight:500;
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}
